.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-.5*var(--bs-gutter-x));
    margin-left: calc(-.5*var(--bs-gutter-x));
}.col-12 {
    flex: 0 0 auto;
    width: 100%;
}.cv-box {
    background: #fff;
    box-shadow: 0 7px 29px rgba(0,0,0,.13);
    border-radius: 12px;
    margin-top: 1em;
}.cv-box .cv-pp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 144px;
}.cv-box .cv-pp .cv-pp-img {
    z-index: 11;
    position: absolute;
    width: 128px;
    height: 128px;
    object-fit: cover;
}
.rounded-circle {
    border-radius: 50%!important;
}
img, svg {
    vertical-align: middle;
}.area, .circles {
    width: 100%;
    position: absolute;
}
.area {
    background: hsla(20,1%,59%,.5);
    background: -webkit-linear-gradient(270deg,#8f94fb,#4e54c8);
    height: inherit;
    border-radius: 12px;
}.circles {
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}
.area, .circles {
    width: 100%;
    position: absolute;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}.circles li:first-child {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: hsla(0,0%,100%,.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}.cv-box .cv-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 22px;
}.cv-box .cv-info .info-box {
    display: flex;
    align-items: center;
    gap: 8px;
}.cv-box .cv-info .info-box .info-icon {
    background: #fefefe;
    box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    padding: 12px 7px 0;
    display: flex;
    align-items: center;
}.cv-box .cv-info .info-box .info-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-break: break-all;
}.cv-box .cv-info .info-box .info-icon.name:before {
    content: url("https://tobeto.com/cv-name.svg");
    display: flex;
    align-items: center;
}.cv-box .cv-info .info-box .info-text .header {
    font-weight: 500;
    font-size: 10px;
    color: #828282;
}.cv-box .cv-info .info-box .info-text .text {
    font-weight: 600;
    font-size: 16px;
    color: #181818;
}.cv-box .cv-info .info-box .info-icon.date:before {
    content: url("https://tobeto.com/cv-date.svg");
    display: flex;
    align-items: center;
}.cv-box .cv-info .info-box .info-icon.mail:before {
    content: url("https://tobeto.com/cv-mail.svg");
    display: flex;
    align-items: center;
}.cv-box .cv-info .info-box .info-icon.phone:before {
    content: url("https://tobeto.com/cv-phone.svg");
    display: flex;
    align-items: center;
}.cv-box {
    background: #fff;
    box-shadow: 0 7px 29px rgba(0,0,0,.13);
    border-radius: 12px;
    margin-top: 1em;
}.cv-padding {
    padding: 22px;
}.cv-box .cv-box-header span {
    font-weight: 600;
    font-size: 18px;
    color: #323232;
}.justify-content-between {
    justify-content: space-between!important;
}.skills {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1em;
}.skill {
    padding: 10px 20px;
    background: #fff;
    box-shadow: 2px 10px 24px hsla(0,0%,9%,.12);
    border-radius: 54px;
    text-align: left;
    width: 100%;
}.my-langs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}.lang, .lang-edit {
    box-shadow: 0 10px 24px 0 hsla(0,0%,9%,.05);
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 16px;
}.lang-info, .lang-title {
    display: flex;
    align-items: center;
}
.lang-info {
    gap: 8px;
}.lang-info, .lang-title {
    display: flex;
    align-items: center;
}.lang-title:before {
    content: url("https://tobeto.com/globe.svg");
    color: #828282;
    display: flex;
    margin-right: 8px;
}.lang-title .lang-name {
    font-size: 15px;
    font-weight: 500;
    color: #828282;
    text-transform: capitalize;
}.lang-title .lang-degree {
    font-size: 12px;
    font-weight: 500;
    color: hsla(0,0%,51%,.8);
}.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-.5*var(--bs-gutter-x));
    margin-left: calc(-.5*var(--bs-gutter-x));
}.me-2 {
    margin-right: 0.5rem!important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}.png_icon:before {
    background-image: url("https://tobeto.com/png.png");
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    cursor: default;
}.cv-box .cv-social-media {
    display: flex;
    align-items: center;
    gap: calc((100% - 158px)/2);
    margin-top: 1em;
}.cv-box .cv-social-media .cv-linkedin:after {
    content: url("https://tobeto.com/cv-linkedn.svg");
    display: block;
    background: no-repeat scroll 7px 10px;
    background-size: 1.5em 1.5em;
}.cv-box .cv-social-media .cv-github:after {
    content: url("https://tobeto.com/cv-github.svg");
    display: block;
    background: no-repeat scroll 7px 10px;
    background-size: 1.5em 1.5em;
}.model-padding {
    padding: 1em 0;
}.my-3 {
    margin-top: 0.75rem!important;
    margin-bottom: 0.75rem!important;
}.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
    display: block; height: 256px; width: 334px;
}.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}.chartjs-size-monitor-expand > div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0;
}.chartjs-size-monitor-shrink > div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
}.radar-labels {
    display: flex;
    flex-direction: column;
    gap: 8px;
}.radar-labels .label {
    display: flex;
    align-items: center;
}.radar-labels .label .legend.legend8 {
    background-color: #85a0a9;
}

.radar-labels .label .legend {
    color: #fff;
    font-size: 12px;
    min-width: 32px;
    padding: 4px 8px;
    text-align: center;
    margin-right: 8px;
    border-radius: 5px;
}.radar-labels .label .legendName {
    font-size: 13px;
    color: #000;
    font-weight: 500;
}.radar-labels .label .legend.legend7 {
    background-color: #217925;
}.radar-labels .label .legend.legend1 {
    background-color: #eec272;
}.radar-labels .label .legend.legend5 {
    background-color: #6667ab;
}.radar-labels .label .legend.legend2 {
    background-color: #e288b6;
}.radar-labels .label .legend.legend4 {
    background-color: #b38f6a;
}.radar-labels .label .legend.legend6 {
    background-color: #d75078;
}.radar-labels .label .legend.legend3 {
    background-color: #d77e6f;
}.g-4, .gy-4 {
    --bs-gutter-y: 1rem;
}.envantoryList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    gap: 1em;
}.envantoryList .envantory-result {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 10px 24px hsla(0,0%,9%,.12);
    background-color: #fff;
    padding: 0.75em;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 12px;
    transition: .3s;
    border: 2px solid transparent;
}.justify-content-between {
    justify-content: space-between!important;
}.envantoryList .envantory-result .examName {
    color: #828282;
    font-weight: 500;
}.envantoryList .envantory-result .examTime {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
}.badge-container {
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: content;
}.badge-card {
    background: #fff;
    box-shadow: 0 10px 24px 0 hsla(0,0%,9%,.05);
    border-radius: 12px;
    padding: 1em;
    width: calc(14% - 12px)!important;
    align-items: center;
    justify-content: space-between;
}.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}.timeline {
    height: 300px;
    overflow-x: auto;
    cursor: default;
}.timeline .line {
    height: 6px;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 100%;
    background: #ccc;
    border-radius: 5px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    gap: 248px;
    position: relative;
    display: flex;
    cursor: default;
}.timeline .line .circle {
    width: 20px;
    height: 20px;
    background: #a442ff;
    border-radius: 15px;
    position: relative;
    top: -7px;
    border: 3px solid #fff;
    cursor: default;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}.timeline .line .circle2 {
    width: 20px;
    height: 20px;
    background: #488ff6;
    border-radius: 15px;
    position: relative;
    top: -7px;
    border: 3px solid #fff;
    cursor: default;
}.timeline .line .circle:first-child .before {
    margin-right: 5px;
    padding: 0 0 2em;
    position: relative;
    min-height: 100px;
}

.timeline .line .circle .before {
    transform: translateY(-100%);
    border-left: 3px solid #a442ff;
    margin-left: 5px;
    padding: 0 0 2em;
    position: relative;
    min-height: 100px;
    cursor: default;
}.timeline .line .circle:first-child .before .content {
    position: absolute;
    top: -16px;
    left: 8px!important;
    cursor: default;
}.timeline .line .circle:first-child .before .content ul {
    list-style: none;
    margin-left: 0!important;
    padding-left: 4px;
    width: -moz-max-content;
    width: max-content;
    max-width: 150px;
}

.timeline .line .circle .before .content ul {
    list-style: none;
    margin-left: 0!important;
    padding-left: 4px;
    min-width: 172px;
}.timeline .line .circle:first-child .before .content ul li {
    font-size: 12px;
    text-align: left;
}.timeline .line .circle:first-child .before .content ul li {
    font-size: 12px;
    text-align: left;
}

.timeline .line .circle .before .content ul li {
    font-size: 12px;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}.timeline .line .circle:first-child .before .content ul li {
    font-size: 12px;
    text-align: left;
}

.timeline .line .circle .before .content ul li {
    font-size: 12px;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 125px;
}.timeline .line .circle2 .after {
    border-right: 3px solid #488ff6;
    margin-right: 5px;
    padding: 2em 0 0;
    position: relative;
    min-height: 100px;
    cursor: default;
}.timeline .line .circle2 .after .content {
    position: absolute;
    top: 50px;
    right: 8px;
    cursor: default;
}.timeline .line .circle2 .after .content ul {
    list-style: none;
    margin-left: 0!important;
    padding-left: 4px;
    width: -moz-max-content;
    width: max-content;
    max-width: 150px;
}.timeline .line .circle2 .after .content ul li {
    font-size: 12px;
    text-align: right;
}.timeline .line .circle2 .after .content ul li {
    font-size: 12px;
    text-align: right;
}
@media (min-width:768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}